.header { position: absolute;
    width: 1440px;
    height: 1093px;
    left: 0px;
    top: 0px;

}

.first-section{
    position: absolute;
width: 1440px;
height: 1093px;
left: 0px;
top: 0px;
}

.blockquote{
    position: absolute;
width: 1440px;
height: 392px;
left: -1px;
top: 1093px;
font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 300;
font-size: 32px;
line-height: 40px;
text-align: center;

color: #071629;
}

.Videos{
position: absolute;
width: 1228px;
height: 450px;
left: 106px;
top: 1572px;
font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 300;
font-size: 32px;
line-height: 40px;
text-align: center;

color: #071629;

}

.Membership{
    
position: absolute;
width: 1440px;
height: 502px;
left: 0px;
top: 2109px;
font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 40px;
text-align: center;

color: #C271FF;
}

.FAQ{
position: absolute;
height: 75px;
left: 44.24%;
right: 40.98%;
top: calc(50% - 75px/2 - 316px);

font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 300;
font-size: 60px;
line-height: 75px;
text-align: center;

color: #071629;
}

.footer{
position: absolute;
width: 1440px;
height: 249px;
left: 0px;
top: 3469px;
background:
}

