body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('C:\Users\maleb\AppData\Local\Temp\012c2577-bfa5-4fa4-bd23-7e0aa55c93b8_d1597894d79386c83b9b.zip.3b8\images\headphones_hero_1.jpg'); 
    background-size: cover; 
    background-color: #071629; 
    background-blend-mode: normal, color;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}
nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
}
nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white; 
    text-decoration: none; 
}