.container {
    max-width: 1000px;
    margin: 0 auto; 
}

/* Mobile styles */
@media only screen and (max-width: 480px) {
    .container {
        max-width: 100%; 
        padding: 10px; 
    }
body {
background-color: #071629;
background-blend-mode: normal, color;
background-image: url(C:\Users\maleb\AppData\Local\Temp\13b74faa-1d7b-4c98-9386-5c0d4237a41b_d1597894d79386c83b9b.zip.41b\images\headphones_hero_1.jpg);
border: 1px solid #979797;
position: absolute;
width: 1400px;
height: 800px;
left: 0px;
top: 0px;;
}