body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('C:\Users\maleb\AppData\Local\Temp\012c2577-bfa5-4fa4-bd23-7e0aa55c93b8_d1597894d79386c83b9b.zip.3b8\images\headphones_hero_1.jpg'); 
    background-size: cover; 
    background-color: #071629; 
    background-blend-mode: normal, color;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}
nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
}
nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white; 
    text-decoration: none; 
}

#our-results {
    text-align: center;
    color: #333; /* Adjust text color */
    padding: 20px;
}

.pentagon {
    width: 80px; 
    height: 80px; 
    position: relative;
    display: inline-block;
    margin: 10px; 
}

.pentagon-inner {
    width: 80%;
    height: 80%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #FF6565; 
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
}
.pentagon:hover {
    animation: rotate 1s infinite;
}


.content {
    text-align: center;
    max-width: 800px; 
    margin: 20px;
    color: #f0f0f0;
}
.button {
        background-color: #FF6565; 
        color: white; 
        padding: 10px 20px; 
        border: none; 
        cursor: pointer; 
        font-size: 16px; 
        border-radius: 4px; 
        transition: background-color 0.3s ease;
    }
    
    .button:hover {
        background-color: #FF6565; 
    }

    #what-we-do{
        background-color: white; 
        color: #000000; 
        padding: 10px
    
        
    
    }
    #what-we-do h1 {
        cursor: pointer; 
        transition: 0.2 ease-in-out;
    }

    #what-we-do h1:hover {
        animation: scale 1s infinite;
    }
    
    .paragraph{
        background-color: white; 
        color: #000000; 
        padding: 10px;
    
    }
    

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

.icons div {
    position: relative; 
    width: 100px; 
    height: 100px; 
    margin: 10px; 
}
.icons img {
    width: 100px; 
    margin: 10px;
    position: relative;
}
.icons .overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: x-small;
    font-weight: normal;
    color: white; 
    visibility: visible;
    z-index: 1; 

}

#contact-us{
    background-color: #f0f0f0;
    color: #000000;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    text-align: center;
    margin: 0%;
    background-color: #071629; 
    background-blend-mode: normal, color;
    color: #f0f0f0;
    
}
footer img {
    margin-right: 20px; 
}
footer p{
    text-align: center;
    margin: 0%;
    flex: 1;
}
.wrapper {
    position: relative;
    min-height: 100vh; 
    padding-bottom: 60px;
}
