
#our-results {
    text-align: center;
    color: #333; /* Adjust text color */
    padding: 20px;
}

.pentagon {
    width: 80px; 
    height: 80px; 
    position: relative;
    display: inline-block;
    margin: 10px; 
}

.pentagon-inner {
    width: 80%;
    height: 80%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #FF6565; 
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
}
.pentagon:hover {
    animation: rotate 1s infinite;
}
