
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    text-align: center;
    margin: 0%;
    background-color: #071629; 
    background-blend-mode: normal, color;
    color: #f0f0f0;
    
}
footer img {
    margin-right: 20px; 
}
footer p{
    text-align: center;
    margin: 0%;
    flex: 1;
}
.wrapper {
    position: relative;
    min-height: 100vh; 
    padding-bottom: 60px;
}
